#  Select how to build the code.  I.e. what platform and CPU to
# build for.
#   S100 bus machines are -DCPMONLY
#   Any machine with RomWbW is -DROMWBW  (i.e. rc2014)
#   I8080 is -DCPU8080 and Z80 is -DCPUZ80

#  Z80 cpu without RomWbW
#CFLAGS  = +cpm -Wall -pragma-include:zpragma.inc -DCPUZ80 -DCPMONLY
#LINKOP	= +cpm -create-app -pragma-include:zpragma.inc -DAMALLOC2 

#  Z80 cpu with RomWbW
#CFLAGS  = +cpm -Wall -pragma-include:zpragma.inc -DCPUZ80 -DROMWBW -DUNIXEPOCH
#LINKOP	= +cpm -create-app -pragma-include:zpragma.inc -DAMALLOC2 

#  I8080 cpu without RomWbW
#CFLAGS  = +cpm -clib=8080 -Wall -pragma-include:zpragma.inc -DCPU8080 -DCPMONLY
#LINKOP	= +cpm -clib=8080 -create-app -pragma-include:zpragma.inc -DAMALLOC2 

#  Z80 cpu s100 buss 
CFLAGS	= +cpm -Wall -pragma-include:zpragma.inc -DS100 -DCPUZ80  
#CFLAGS	= +cpm -Wall -pragma-include:zpragma.inc -DS100 -DCPUZ80  --list --c-code-in-asm
LINKOP	= +cpm -create-app -pragma-include:zpragma.inc -DAMALLOC2 
